.uber-button{
    background-color: black;
    color: white;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: opacity 0.17s;
}
.uber-button:hover{
    opacity: 0.7;
}
.uber-button:active{
    opacity: 0.4;
}
.amazon-button{
    color: black;
    background-color: rgb(255, 216, 20);
    border: none;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    border-radius: 18px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.17s,opacity 0.17s;
}
.amazon-button:hover{
    background-color: rgb(255, 190, 50);
}
.amazon-button:active{
    opacity: 0.7;
}
.github-button{
    background-color: rgb(64, 179, 96);
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
    transition: opacity 0.17s,box-shadow 0.15s;
}
.github-button:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.607);
}
.github-button:active{
    opacity: 0.7;
}
.getstarted-button{
    color: white;
    background-color: rgb(121,82,179);
    border: none;
    height: 40px;
    width: 110px;
    margin-left: 10px;
    margin-right: 10px ;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.17s,background-button 0.17s;
}
.getstarted-button:hover{
    background-color: rgb(126, 59, 226);
}
.getstarted-button:active{
    opacity: 0.6;
}
.download-button{
    background-color: white;
    color: rgb(108,117,125);
    height: 40px;
    width: 110px;
    border-color: rgb(108, 117, 125);;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    transition: color 0.17s,
    background-color 0.17s,opacity 0.17s;
}
.download-button:hover{
    background-color: rgb(108,117,125);
    color: white;
}
.download-button:active{
    opacity: 0.7;
}
.save-button{
    margin-left: 10px;
    color: rgb(49, 52, 242);
    height: 40px;
    width: 80px;
    border-radius: 20px;
    border-color: rgb(49, 52, 242);
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    font-size: 14px;
    transition: border-width 0.17s,font-weight 0.17s,
    box-shadow 0.2s;
}
.save-button:hover{
    border-width: 2px;
    font-weight: bolder;
}
.save-button:active{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.607);
}